---
const pageTitle = "A propos de moi";
---

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
</head>

<body>
    <a href="/">Accueil</a>
    <a href="/cv">Mon CV</a>
    <a href="/rapport">Rapport de stage</a>


    <h1>{pageTitle}</h1>
    <h2> ... et de ce site !</h2>
    <p>Je suis un jeune developpeur en formation chez Ynov Bordeaux.</p>
    <p>Actuellement en B3 Informatique je cherche a me former dans l'infrastructure systemes et reseaux.</p>
    <p>Je souhaite en effet m'interesser dans le futur au Cloud. Et alors pourquoi pas aller vers l'architecture Cloud.</p>
    <p>C'est donc dans une formation en alternance que je compte forger mon savoir et mon experience !</p>

    <h4> Vous trouverez ainsi sur ce site mon CV et un peu de mon parcours.</h4>
</body>