---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Mes CVs";
---

<BaseLayout pageTitle={pageTitle}>

    <h2><a href="/CVs/cv_alternance_adminsys.pdf"download>Administration systèmes et réseaux</a></h2>

    <h2><a href="/CVs/cv_alternance_webdev.pdf"download>Développement web</a></h2>

    <h2>Mon <a href="mailto:marquie.mederic1@gmail.com">mail</a> professionnel</h2>
</BaseLayout>
