<header>
    <title>CV</title>
</header>

<body>
    <a href="/">Accueil</a>
    <a href="/about">A propos de moi</a>

    <h1>Mon CV</h1>

    <h3> Vous pourrez aussi retrouver mon GitHub. </h3>

    <h3> Ainsi que mon mail professionnel.</h3>