---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Mon CV";
---

<BaseLayout pageTitle={pageTitle}>
    <h3>Vous pourrez aussi retrouver mon GitHub.</h3>

    <h3>Ainsi que mon mail professionnel.</h3>
</BaseLayout>
