---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Bienvenue sur mon Astrofolio";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />

		<h1>{pageTitle}</h1>

		<h3>Je vous présente mon site Portfolio.</h3>
		<p>
			Vous pourrez y trouver quelques informations sur moi, mon CV, mes
			expériences.
		</p>
		<p>
			Mais également un rapport de stage effectué au sein de l'association
			Nouvelle Voix.
		</p>

		<h4>Retrouvez toutes ces informations parmi ces liens :</h4>

		<ul>
			<a href="/about"> A propos de moi</a>
			<br />
			<a href="/cv"> Mon CV</a>
			<br />
			<a href="/rapport"> Rapport de stage</a>
		</ul>

		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
