---
const pageTitle = "Bienvenue sur mon Astrofolio";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/about"> A propos de moi</a>
		<a href="/cv"> Mon CV</a>
		<a href="/rapport"> Rapport de stage</a>

		<h1>{pageTitle}</h1>

		<p> Vous pourrez ici retrouver nombres d'informations sur ma personne.</p>
	</body>
</html>
