---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Bienvenue sur mon Astrofolio";
---

<BaseLayout pageTitle={pageTitle}>
	<h3>Je vous présente mon site Portfolio.</h3>
		<p>
			Je l'ai réalisé avec Astro, un framework très léger et facile d'utilisation ! 
		</p>
		<p>
			Vous pourrez y trouver quelques informations sur moi, mon CV, mes
			expériences.
		</p>
		<p>
			Mais également un rapport de stage effectué au sein de l'association
			Nouvelle Voix.
		</p>

		<h4>Retrouvez toutes ces informations parmi ces liens :</h4>

		<ul>
			<a href="/about"> A propos de moi</a>
			<br />
			<a href="/cv"> Mes CVs</a>
			<br />
			<a href="/rapport"> Rapport de stage</a>
		</ul>
</BaseLayout>
