---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Rapport de stage";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Association Nouvelle Voix</h2>

    <ul>
        <a href="/rapport/1.asso_Nouvelle-Voix">L'Association Nouvelle Voix</a>
        <br />
        <a href="/rapport/2.creation_maquette">La creation de la maquette</a>
        <br />
        <a href="/rapport/3.wordpress">L'utilisation de Wordpress</a>
        <br />
        <a href="/rapport/4.le_stage">Une expérience</a>
    </ul>
    
</BaseLayout>
