<header>
    <title>Rapport de stage</title>
</header>

<body>
    <a href="/">Accueil</a>
    <a href="/about">A propos de moi</a>
    <a href="/cv">Mon CV</a>


    <h1>Rapport de stage de 6 semaines pour Association Nouvelle Voix</h1>
</body>