---
import Social from '../components/Social.astro';
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>


<footer>
    <p>Suivez mon activité sur mes réseaux !</p>
    <Social platform="github" username=MeydeyNc />
    <Social platform="linkedin" username="in/mederic-marquie/" />
</footer>